<!-- <form action="#" method="post" id="form" name="myForm">
  <div class="row">
    <div class="input-field col s12 m12 l12">
      <label for="email">Email</label>
      <input 
        name="email" 
        type="email" 
        class="validate" 
        penholder="name@email.com" ng-model="$ctrl.user.email">      
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m12 l12">
      <label for="password">Password</label> 
      <input 
        name="password" 
        type="password" 
        class="validate" 
        ng-model="$ctrl.user.password">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      <a class="waves-effect waves-light btn-large no-upper-case" ng-click="$ctrl.submit()">
        Ok
      </a>     
    </div>
  </div>
</form> -->

<!-- Email : <input type="text" ng-model="$ctrl.email">
Password : <input type="text" ng-model="$ctrl.password">

<br><br>

<button ng-click="$ctrl.createUser()">Create User</button>

<br><br>

<button ng-click="$ctrl.deleteUser()">Delete User</button>

<p ng-if="$ctrl.message">Message : <strong>{{ $ctrl.message }}</strong></p>
<p ng-if="$ctrl.error">Error : <strong>{{ error }}</strong></p>
 -->

  Email: <input type="text" ng-model="$ctrl.user.email">
  Password: <input type="text" ng-model="$ctrl.user.password">

  <br><br>

  <button ng-click="$ctrl.createUser()">Create User</button>

  <br><br>

  <button ng-click="deleteUser()">Delete User</button>

  <p ng-if="$ctrl.message">Message: <strong>{{ $ctrl.message }}</strong></p>
  <p ng-if="$ctrl.error">Error: <strong>{{ $ctrl.error }}</strong></p>