<div class="container">
  <h1 class="center-align">Login</h1>
  <form action="#" method="post" id="form" name="ctrl.user.myForm">
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input name="email" type="email" class="validate" penholder="name@email.com" ng-model="ctrl.user.email">
        <label for="email">Email</label>        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <input name="password" type="password" class="validate" ng-model="ctrl.user.password">
        <label for="password">Password</label>      
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 center-align">
        <a class="waves-effect waves-light btn-large" ng-click="$ctrl.submit(ctrl.user.myForm)">Log in</a>     
      </div>
    </div>
  </form>
</div>