.margin-bottom-2em{
  margin-bottom:2em;
}

.upload-box{
  width: 300px;
}

.width-100-percent{
  width:100%;
}

#float-none{
  float:none;
}

.no-upper-case{
  text-transform: none;
}

.margin-top-bottom-1em-0-1em{
  margin: 1em 0 1em;
}